<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Banking App Testcases">
	<parameter name="username" value="abc@xyz.com" />
	<parameter name="password" value="abcd" />
	<test thread-count="5" name="Regression Test">
		<classes>
			<!-- <class name="testNGExample.TestCase2"/> <class name="testNGExample.TestCase1"> 
				<methods> <exclude name="Loan.*"/> </methods> </class> -->
			<class name="test.LoginTest">

			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->


